.album {
    margin-bottom: 20px;
}

.imgAlbum {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoAuthor{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divImgAuthor{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.divImgAuthor img {
    width: 100%;
    height: 100%;
}

.recordTypeFirst{
    display: none;
}

.nameAlbum{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.infoAuthor{
    margin-bottom: 10px;
}
.yearReleaseAlbum {
    display: flex;
    gap: 5px;
}

.yearAlbum::before{
    display: inline;
    content: "•";
    margin-right: 5px;
}

.durationAlbum::before{
    display: inline;
    content: "•";
    margin-right: 5px;
}

.durationAlbum{
    display: none;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.actionButtons svg {
    width: 30px;
    height: 30px;
}

.otherBtns, .playShuffleBtn {
    display: flex;
    gap: 30px;
}

.otherInfoBtn svg:last-child{
    display: none;
}

.playBtn{
    background-color: #00D856;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableSongs {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.infoSong th{
    display: none;
}

.infoSong .streamsSong {
    display: none;
}

.infoSong td:first-child{
    display: none;
}
.trSongs{
    display: none;
}
th{
  padding: 12px 16px;
  text-align: left;
  color: #b3b3b3;
  font-size: 12px;
  letter-spacing: 1px;
}
tr td {
    padding: 12px 16px;
    text-align: left;
}

.durationSong{
    display: none;
}

tr {
  height: 56px;
}

tr,td {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
}

.tdBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trSongs tr th:nth-of-type(3) {
    display: none;
}
.divSongArtist p:last-child:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {

    .trSongs{
        display: table-header-group;
    }
    .infoSong th{
        display: inline-block;
    }

    .durationSong{
        display: table-cell;
    }

    .infoSong td:first-child{
        display: inline-block;
        padding: 12px 16px;
        text-align: left;
    }
    .durationAlbum{
        display: inline-block;
    }

    .durationAlbum span {
        color: #B3B3B3;
    }

    .tdBtn{
        display: none;
    }

    .detailsAlbum {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .detailsAlbum .infoAuthor {
        margin: 0;
    }

    .detailsAlbum .nameAuthor {
        font-weight: bold;
    }

    .recordType{
        display: none;
    }
    .album {
        display: flex;
        align-items: end;
        gap: 30px;
    }

    .nameAlbum {
        width: 100%;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
        font-size: 2.1em;
    }

    .actionButtons {
        justify-content: start;
        gap: 30px;
    }

    .playShuffleBtn{
        order: -1;
    }

    .shuffleBtn{
        display: none;
    }

    .otherInfoBtn svg:last-child{
        display: block;
    }

    .otherInfoBtn svg:first-child{
        display: none;
    }
}
@media (min-width: 1170px) {
    .nameAlbum {
        font-size: 2.5em;
    }

    .trSongs tr th:nth-of-type(3) {
        display: table-cell;
    }

    .infoSong .streamsSong {
        display: table-cell;
    }

}

@media (min-width: 1256px) {
    .nameAlbum {
        font-size: 2.8em;
    }
}
